<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">
    <div class="col-sm-3">
      <h1 class="logo mr-auto"><a href="index.html">Artist</a></h1>
    </div>
    <div class="col-sm-7">
      <input type="text" name="text" [(ngModel)]="query" placeholder="enter artist name......">
    </div>
  
  </div>
</header>
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
      <div class="row" *ngIf = "query">
        <div class="col-lg-6 card-container" *ngFor="let artist of (artists | searchArtist : query)" (click) = "showArtists($event, artist); query=''">
          <app-artist-items [artist]="artist"></app-artist-items>  
        </div>
      </div>
    </div>
    <app-artist-details *ngIf="currentArtist" [artist] = "currentArtist"></app-artist-details>
  </section>
