
  <section id="footer">
    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h1>Artist Directory</h1>
            <form class="mb-2">
              <input type="text" name="text" [(ngModel)]="query">
              <!-- <input type="submit" value="Search"> -->
            </form>
            <p *ngIf="query"><strong>For</strong> {{query}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
      <div class="row">

        <div class="col-lg-6 card-container" *ngFor="let artist of artists" (click) = "showArtists($event, artist)">
          <app-artist-items [artist]="artist"></app-artist-items>  
        </div>

      </div>
    </div>
  </section><!-- End Team Section -->
